@model GBC_TRAVEL_GROUP_88.Areas.BookingManagement.Models.RentalCarBooking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rental Car Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentalCarBookingId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentalCarBookingId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentalCarId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentalCarId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlateNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlateNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentalProvider)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentalProvider)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelType)
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvaiable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAvaiable)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="DeleteConfirm" method="post">
        @Html.HiddenFor(model => model.RentalCarBookingId)
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
